.battery-low{
  color:#b71c1c;
}

.inline{
  display:inline;
}

#presuregraph, #tempgraph, #heigthgraph{
  height:10vh;
  width:100%;
}

.graph {
  display:block;
  height: 10vh !important;
  width: 100% !important;
}

#partners {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index: 5000;
  width:100%;
  height:100%;
}

.param-info{
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

.label-ascenso {
  background-color: #FF0000;
  font-size: 1.4em;
  font-weight: bold;
  color:white;
}

.label-descenso {
  background-color: #00FF00;
  font-size: 1.4em;
  font-weight: bold;
  color:black;
}

.label-estable {
  background-color: #FFFF00;
  font-size: 1.4em;
  font-weight: bold;
  color:black;
}

.label-abierto {
  background-color: #FF0000;
  font-size: 1.4em;
  font-weight: bold;
  color:white;
}

.label-desprogramado {
  background-color: #FF0000;
  font-size: 1.4em;
  font-weight: bold;
  color:white;
}

.label-cerrado {
  background-color: #00FF00;
  font-size: 1.4em;
  font-weight: bold;
  color:black;
}

.label-programado {
  background-color: #00FF00;
  font-size: 1.4em;
  font-weight: bold;
  color:black;
}


.label {
  font-size: 1.4em;
  font-weight: bold;
  color:black;
}

bold {
  font-weight: bold;
}
